
@import '../../styles/globalStyles.scss';

form {
  max-width: 500px;  
  margin: 0 auto;     
  padding: $padding-l;
  background-color: $color-white;
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  margin-bottom: $margin-m;
}

label {
  @include flexColumn;
  margin-bottom: $margin-m;
  font-weight: bold;
  color: $color-primary; 
  
}

input {
  @include inputField;
  margin-bottom: $margin-m;
  border: 2px solid $color-accent-light; 
  transition: border-color 0.3s ease; 
  &:focus {
    border-color: $color-accent-dark; 
    outline: none; 
  }
}

button {
  background-color: $color-accent-light; 
  color: $color-primary; 
  padding: $padding-m;
  border: none;
  border-radius: $border-radius-s;
  cursor: pointer;
  margin-top: $margin-m;
  font-size: 1rem; 
  font-weight: bold; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  &:hover {
    background-color: $color-accent-dark; 
    transform: scale(1.05); 
  }
  &:active {
    transform: scale(0.98); 
  }
}
