
@import '../../styles/globalStyles.scss';

form {
  max-width: 500px;  
  margin: 0 auto;     
  padding: $padding-l;
  background-color: $color-white;
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  margin-bottom: $margin-m;
}

label {
  @include flexColumn;
  margin-bottom:0;
  font-weight: bold;
  color: $color-primary; 
  
}

input {
  @include inputField;
  margin-bottom: $margin-m;
  border: 2px solid $color-accent-light; 
  transition: border-color 0.3s ease; 
  &:focus {
    border-color: $color-accent-dark; 
    outline: none; 
  }
}

span{
  justify-self: end;
}

