/* Huvudfärger */
$color-primary: #449b92;  
$color-secondary: #ffbbf4;

/* Accentfärger */
$color-accent-light: #f5cc50;  
$color-accent-dark: #12182e;    

/* Textfärger */
$color-white: #ffffff;
$color-black: #000000;
$color-teal: #449b92;


/* Typsnitt */
$font-heading: 'Titan One', cursive;
$font-family: 'roboto', sans-serif;
$font-size-small: 0.8rem;

/*mått avstånd*/
$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 2rem;

$margin-m: 1rem;
$margin-l: 2rem;
$margin-xl: 6rem;

$width-m: 320px;
$width-l: 500px;

$height-m: 30px;
$height-l: 40px;

$border-radius-s:8px;
$border-radius-m:16px;
$border-radius-l:32px;
